# MongoDB Environment Variables
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_EXPRESS_USERNAME=
MONGO_EXPRESS_PASSWORD=
# Application Environment Variables
SERVER_INTERNAL_PORT=
SERVER_INTERNAL_HOST=
SERVER_EXTERNAL_PORT=