global
    log 127.0.0.1 local0
    maxconn 4096

defaults
    log     global
    mode    http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend uvicorn_back

backend uvicorn_back
    balance roundrobin
    server web web:8000 check

listen stats
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats refresh 5s
